<!DOCTYPE html>
<html>
<head>
  <title>Ingamefame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    window.channelChanger = {};
    window.channelChanger["newUserChannelUrl"] = "<%= new_user_channel_url %>";
  </script>
</head>
<body>
  <div class="ingamefame-menu">
    <div class="container">
      <div class="top">
        <div class="logo">
          <%= image_tag 'logo.png' %>
        </div>
        <div class="logo-banner"></div>
      </div>
      <div class="bottom">
        <div class="channel-search js-channel-search">
          <% if signed_in? %>
            <%= form_for([current_user, @channel = Channel.new], remote: true) do |f| %>
              <%= f.text_field :name, placeholder: "search" %>
            <% end %>
          <% end %>
        </div>
        <div class="listing js-channel-listing">
          <% if signed_in? %>
            <% @channels.each do |channel| %>
              <div class="channel js-channel<%= " active" if cookies[:channel] == channel.id %>" data-id="<%= channel.id %>">
                <%= channel.name %>
              </div>
            <% end %>
          <% else %>
            <div class="js-igf-session">
              <div class="form session signup js-signup-form">
                <div class="session-wrapper">
                  <div class="title">signup</div>
                  <%= form_for(@user, remote: true) do |f| %>
                    <%= f.text_field :username, placeholder: "username" %>
                    <%= f.password_field :password, placeholder: "password" %>
                    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
                    <%= f.submit "Signup", class: "btn", data: { :"disable-with" => "processing..." } %>
                  <% end %>
                </div>
              </div>
              <div class="form session login js-login-form">
                <div class="session-wrapper">
                  <%= form_for(resource, as: resource_name, url: session_path(@user), remote: true) do |f| %>
                    <%= f.text_field :username, placeholder: "username" %>
                    <%= f.password_field :password, placeholder: "password" %>
                    <%= f.submit "Login", class: "btn", data: { :"disable-with" => "processing..." } %>
                  <% end %>
                  <div class="message js-session-message"></div>
                </div>
              </div>
              <div class="btn js-form-button" data-type="signup">
                Create an Account
              </div>
              <div class="btn js-form-button" data-type="login">
                Login
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="ingamefame-tv">
    <div class="container">
      <div class="controller">
        <div class="details">
          <div class="title">
            Some title <%# @stream["channel"]["status"] %>
          </div>
          <div class="caster">
            Some dude <%# @stream["channel"]["name"] %>
          </div>
        </div>
        <div class="channel-changer">
          <div class="button">
            <i class="fa fa-thumbs-down"></i>
          </div>
          <div class="button">
            <i class="fa fa-step-backward"></i>
          </div>
          <div class="button">
            <i class="fa fa-step-forward"></i>
          </div>
          <div class="button">
            <i class="fa fa-thumbs-up"></i>
          </div>
        </div>
      </div>
      <div class="tv js-ingamefame-tv">
        <div id="twitch_embed_player">
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
  <script>
    $(function () {
      window.onPlayerLoad = function () {
        var player = $("#twitch_embed_player")[0];
        player.playVideo();
        player.mute();
        // setInterval(function() {
        //   console.log(player.onlineStatus());
        // }, 5000);
      };
      swfobject.embedSWF("//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf", "twitch_embed_player", "100%", "100%", "11", null,
        { "initCallback":"onPlayerLoad",
          "embed":1,
          "channel":"superjova",
          "auto_play":"true"},
        { "allowScriptAccess":"always",
          "allowFullScreen":"true"});
    });
  </script>
</body>
</html>
